<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.itcarrier.springboot.dao.PreDotaGroupsDao">
  <resultMap id="BaseResultMap" type="com.solo.springcloud.commons.entities.PreDotaGroups">
    <!--@mbg.generated-->
    <!--@Table pre_dota_groups-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="groupname" jdbcType="VARCHAR" property="groupname" />
    <result column="active" jdbcType="BOOLEAN" property="active" />
    <result column="season" jdbcType="INTEGER" property="season" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, groupname, active, season, groupid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from pre_dota_groups
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from pre_dota_groups
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.solo.springcloud.commons.entities.PreDotaGroups" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pre_dota_groups (groupname, active, season,
      groupid)
    values (#{groupname,jdbcType=VARCHAR}, #{active,jdbcType=BOOLEAN}, #{season,jdbcType=INTEGER},
      #{groupid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.solo.springcloud.commons.entities.PreDotaGroups" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pre_dota_groups
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupname != null">
        groupname,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="season != null">
        season,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=BOOLEAN},
      </if>
      <if test="season != null">
        #{season,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.solo.springcloud.commons.entities.PreDotaGroups">
    <!--@mbg.generated-->
    update pre_dota_groups
    <set>
      <if test="groupname != null">
        groupname = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=BOOLEAN},
      </if>
      <if test="season != null">
        season = #{season,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.solo.springcloud.commons.entities.PreDotaGroups">
    <!--@mbg.generated-->
    update pre_dota_groups
    set groupname = #{groupname,jdbcType=VARCHAR},
      active = #{active,jdbcType=BOOLEAN},
      season = #{season,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
