<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.itcarrier.springboot.dao.UserProfileDao">
  <resultMap id="BaseResultMap" type="com.solo.springcloud.commons.entities.UserProfile">
    <!--@mbg.generated-->
    <!--@Table user_profile-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="qq" jdbcType="BIGINT" property="qq" />
    <result column="team" jdbcType="VARCHAR" property="team" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
    <result column="telphone" jdbcType="BIGINT" property="telphone" />
    <result column="city" jdbcType="VARCHAR" property="city" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, avatar, qq, team, groupid, telphone, city
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from user_profile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_profile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.solo.springcloud.commons.entities.UserProfile" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_profile (`uid`, avatar, qq,
      team, groupid, telphone,
      city)
    values (#{uid,jdbcType=INTEGER}, #{avatar,jdbcType=VARCHAR}, #{qq,jdbcType=BIGINT},
      #{team,jdbcType=VARCHAR}, #{groupid,jdbcType=INTEGER}, #{telphone,jdbcType=BIGINT},
      #{city,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.solo.springcloud.commons.entities.UserProfile" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_profile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="team != null">
        team,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="telphone != null">
        telphone,
      </if>
      <if test="city != null">
        city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=BIGINT},
      </if>
      <if test="team != null">
        #{team,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="telphone != null">
        #{telphone,jdbcType=BIGINT},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.solo.springcloud.commons.entities.UserProfile">
    <!--@mbg.generated-->
    update user_profile
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=BIGINT},
      </if>
      <if test="team != null">
        team = #{team,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="telphone != null">
        telphone = #{telphone,jdbcType=BIGINT},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.solo.springcloud.commons.entities.UserProfile">
    <!--@mbg.generated-->
    update user_profile
    set `uid` = #{uid,jdbcType=INTEGER},
      avatar = #{avatar,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=BIGINT},
      team = #{team,jdbcType=VARCHAR},
      groupid = #{groupid,jdbcType=INTEGER},
      telphone = #{telphone,jdbcType=BIGINT},
      city = #{city,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
